img{
	height: auto;
	width: auto;
	max-height: 510px;
	max-width: 510px;
}
body{
	width: 100%;
	background-color: #BAAEAB;
}
#Rules{
	color: black;
	font-family: Neonderthaw;
	font-size: 23px;
}
li{
	margin-top: 3px;
}
#testimonials{
	margin: auto;
	padding: 4% 7% 1% 7% ;
	text-align: center;
	background-color:#8a7975;
}
#commentFrom{

}
#comment{
	width: 100%;
	height: auto;
}